@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgba(19, 12, 12, 0.301);
    font-family: "Momo Signature", cursive;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: line-through;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
    height: 75%;
    background-color: #0000009c;
    padding: 20px;
    border-radius: 8px;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.stats h1 {
    font-size: 24px;
    color: #ffffffd6;
    margin-left: 16px;
    margin-right: 16px;
}

.to-type {
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 16px;
    text-align: left;
    color: #ffffffd6;
    line-height: 2.5;
}

textarea {
    resize: none;
    width: 100%;
    height: 250px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 24px;
    font-family: "Momo Signature", cursive;
}